<config platform="project" template="project (default)">Created: Fri Aug 22 08:23:03 2014
By: mbraden
Using Template: project (default)

&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="head" name="name"/>
    <option fromDef="true" value="head" name="caption"/>
    <option fromDef="true" value="Braden, LLC" name="provider"/>
    <option fromDef="true" value="(C) Braden, LLC" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
